@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

.App {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.Task-Column {
  border: 1px solid;
  padding: 10px;
}
.inprow {
  display: flex;
  justify-content: space-between;
  padding: 13px;
  padding-bottom: 25px;
}
.divtextrow {
  height: 22px;

  overflow: hidden;
  white-space: nowrap;
}
.TabNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-Button {
  margin: 5px;
}

.con {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 0;
  padding-top: 15px;
}

.CenterDiv {
  max-width: 800px;
  margin: 30px auto;
  overflow: auto;
  min-height: 200px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
}
