@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

.App {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.Task-Column {
  border: 1px solid;
  padding: 10px;
}
.inprow {
  display: flex;
  justify-content: space-between;
  padding: 13px;
  padding-bottom: 25px;
}

.TabNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-Button {
  margin: 5px;
}

.arrow-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.con {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 0;
  padding-top: 15px;
}

.CenterDiv {
  max-width: 800px;
  margin: 30px auto;
  overflow: auto;
  min-height: 200px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
}
.innerContainer {
  width: 100%;
  padding: 0;
  margin: 0;
  grid-template-rows: repeat(5, 1fr);
  display: grid;
}

.textInTaskRow {
  width: 100%;
}

.arrow-icons {
  height: 70px;
  width: 30px;
  margin: 3px;
}

.date-row-main-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
::-webkit-scrollbar {
  display: none;
}
.taskRow {
  height: 30px;
  margin: 2px;
}
.divtextrow {
  height: 22px;
  width: 260px;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}
@media screen and (min-width: 1000px) {
  .innerContainer {
    width: 100%;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    display: grid;
  }
}
@media screen and (min-width: 1400px) {
  .innerContainer {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    margin-right: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    display: grid;
  }
}
@media screen and (min-width: 1750px) {
  .innerContainer {
    width: 100%;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    display: grid;
  }
}
