@import "style/config";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

$bg-co: #181a1b;
$fg-co: #e8e6e3;
$red: #bf1209;
$sep-co: #212222;

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.modal-header {
  background-color: $bg-co;
}

.modal-body {
  background-color: $bg-co;
}
.modal-footer {
  background-color: $bg-co;
}

.App {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

html {
  background-color: $bg-co;
}

#root {
  color: #e8e6e3;
  background-color: $bg-co;
}

.third-seperator-tasks {
  background-color: $sep-co;
  height: 10px;
}

.Task-Column {
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: $sep-co;
  padding: 5px;
  width: 340px;
}
.inprow {
  display: flex;
  justify-content: space-between;
  padding: 13px;
  padding-bottom: 25px;
}

.con {
  background-color: $bg-co;
  border: 1px solid;
  border-color: $sep-co;
}

#pasteNote-input {
  background-color: $bg-co;
}

#pastebin-input {
  background-color: $bg-co;
}

.pastebin-textfield {
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

.TabNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mail-tasks-svg {
  display: block;
  fill: currentcolor;
  --darkreader-inline-fill: currentcolor;
}

.div-tasks-footer {
  margin: 10px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inner-footer {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.mail-tasks {
  text-decoration: none;
  border: 0px;
  width: 45px;
  height: 45px;
  padding: 2px;
  margin: 5px;
  color: rgb(17, 203, 233);
  border-radius: 35%;
  background-color: rgb(13, 39, 68);
  --darkreader-inline-border-top: initial;
  --darkreader-inline-border-right: initial;
  --darkreader-inline-border-bottom: initial;
  --darkreader-inline-border-left: initial;
  --darkreader-inline-color: #2cd5f0;
  --darkreader-inline-bgcolor: #0a1f36;
}

.github-icon-svg {
  display: block;
  fill: currentcolor;
  --darkreader-inline-fill: currentcolor;
}

.github-icon {
  text-decoration: none;
  border: 0px;
  width: 45px;
  height: 45px;
  padding: 2px;
  margin: 5px;
  color: rgb(17, 203, 233);
  border-radius: 35%;
  background-color: rgb(13, 39, 68);
  --darkreader-inline-border-top: initial;
  --darkreader-inline-border-right: initial;
  --darkreader-inline-border-bottom: initial;
  --darkreader-inline-border-left: initial;
  --darkreader-inline-color: #2cd5f0;
  --darkreader-inline-bgcolor: #0a1f36;
}

.pastebin-input-field {
  color: $fg-co;
}

.Bookmark-container {
  padding: 10px;
  height: 80vh;
  overflow: scroll;
  padding-top: 20px;
  border: 1px solid;
  border-color: $sep-co;
  border-radius: 5px;
  margin-bottom: 20px;
}

.Tree-node {
  padding: 5px;
}

.d-tree-container {
  list-style: none;
  padding: 0;
}

.folder {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: $sep-co;
}

.mainFolder {
  padding-left: 50px;
}

.icon-container-bookmarklinks {
  margin: 3px;
}

.link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  background-color: $bg-co;
}

.d-tree-node {
  padding: 0.75rem 1.25rem;
}

.d-tree-toggler.active {
  transform: rotate(90deg);
}

.d-tree-head {
  color: $fg-co;
}

.mr-1 {
  color: $fg-co;
}

.icon-Button {
  margin: 5px;
  cursor: auto;
}
.middel-task-toolbar {
  padding: 10px;
  background-color: $sep-co;
}

.container {
  background-color: $bg-co;
}

.arrow-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.con {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 0;
  padding-top: 15px;
}

.CenterDiv {
  max-width: 800px;
  margin: 30px auto;
  overflow: auto;
  min-height: 200px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  color: $fg-co;
  background-color: $bg-co;
}
.innerContainer {
  width: 100%;
  padding: 0;
  margin: 0;
  grid-template-rows: repeat(5, 1fr);
  display: grid;
}

.textInTaskRow {
  width: 100%;
}

.arrow-icons {
  height: 0px;
  width: 0px;
  margin: 0px;
}

.toolbar-div {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding-right: 20px;
}

.date-row-main-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
::-webkit-scrollbar {
  display: none;
}
.taskRow {
  height: 30px;
  margin: 2px;
}
.divtextrow {
  height: 22px;
  width: 260px;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}
@media screen and (min-width: 1000px) {
  .innerContainer {
    width: 100%;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    display: grid;
  }
  .arrow-icons {
    height: 70px;
    width: 30px;
    margin: 3px;
  }
}
@media screen and (min-width: 1400px) {
  .innerContainer {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    margin-right: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    display: grid;
  }
}
@media screen and (min-width: 1750px) {
  .innerContainer {
    width: 100%;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    display: grid;
  }
}
